{% extends 'main/shablon.html'%}
{%block title%}
О себе
{%endblock%}
{%block par%}
    <br>
    <h1>Обо мне</h1>
    <h3>Меня зовут Даниил Кузьмин мне 19 лет, в марте будет 20. Закончил школу №31 имени Героев Свири в Ульяновске.<br>
        Я долго делаю лабы (извиняюсь), но всё сдам (честно). Увлекаюсь волейболом и различными играми.<br>
        Сейчас обучаюсь в УЛГТУ в группе ИСТбд-21. <br>
    <img src="static/2.png" width="1000" height="600" align="middle"> <-------- Это я
    </h3>
{%endblock%}



